.layout-container {
  width: 100%;
  min-height: 100vh;

  .left {
    min-width: 300px;
    width: 300px !important;
    height: 100vh;
  }

  .middle {
    height: 100vh;
    min-width: 500px;

    .ml-header {
      min-height: 100px;
      max-height: 100px;
      border-bottom: 1px solid #efeff5;
    }

    .ml-content {
      height: calc(100% - 101px);
      min-height: 667px;
    }
  }

  .right {
    min-width: 400px;
    width: 400px !important;
    border-left: 1px solid #ccc;
  }
}
