.layout-container {
  width: 100%;
  min-height: 100vh;

  .left {
    min-width: 300px;
    width: 300px !important;
    height: 100vh;
  }

  .middle {
    height: 100vh;
    min-width: 500px;

    .ml-header {
      height: 100px;
    }

    .ml-content {
      height: calc(100% - 100px);
    }
  }

  .right {
    min-width: 300px;
    width: 300px !important;
    border-left: 1px solid #ccc;
  }
}
