.content-container {
  .visual-editor-wrapper {
    margin: auto;
    width: 375px;
    height: 667px;
    border: 1px solid #efeff5;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: auto;
  }
}
