.material-panel {
  .item {
    padding-left: 10px;
    .item-header {
      height: 18px;
      line-height: 20px;
    }
    .component {
      display: flex;
      flex-direction: row;
      .component-item {
        cursor: move;
        width: 128px;
        height: 65px;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid #e1e4eb;
        padding: 5px 0 0 0;
        position: relative;
        user-select: none;
        &:hover {
          border-color: #1989fa;
        }
        &.dragging {
          opacity: 0.5;
          background-color: #efeff5;
          border-color: #efeff5;
          &:hover {
            border-color: #e1e4eb;
          }
        }
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
        }
        &:first-child {
          margin-left: 0;
        }
        .content {
          width: 54px;
          height: 34px;
        }
        .text-tips {
          height: 16px;
          font-size: 12px;
          margin-top: 3px;
        }
      }
    }
  }
}
