@mixin outLine() {
  position: relative;
  z-index: 2;
  outline: 1px solid #1989fa;
  outline-offset: -2px;
}

@mixin content() {
  position: absolute;
  left: 1px;
  bottom: -21px;
  display: flex;
  flex-direction: column;
  background: #e1e4eb;
}

.com-render-box {
  width: 100%;
  min-height: 50px;
  padding: 2px;
  box-sizing: border-box;
  cursor: move;

  &--disabled {
    &:hover {
      outline: none;
    }
  }

  &--selected {
    @include outLine;
  }

  .com_operation-area {
    @include content();
    cursor: pointer;
  }
}
