.com-render-box {
  width: 100%;
  min-height: 50px;
  padding: 2px;
  box-sizing: border-box;

  &:hover {
    position: relative;
    z-index: 2;
    outline: 1px solid #1989fa;
    outline-offset: -2px;
  }

  &--disabled {
    &:hover {
      outline: 1px solid #e1e4eb;
    }
  }
}
